<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>PHP制作物</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='work_detail.css') }}"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="works-page work-detail-page php-theme">
    <div class="ufo-button">
      <div class="ufo-core"></div>
    </div>

    <div class="ufo-menu">
      <a href="/" class="ufo-menu-top">トップ</a>
      <a href="/profile" class="ufo-menu-profile">プロフィール</a>
      <a href="/works" class="ufo-menu-works">制作物</a>
    </div>

    <main class="work-detail-container">
      <section class="work-detail-panel">
        <p class="work-category">PHP / MySQL / HTML / CSS</p>

        <h1 class="work-detail-title">日直日誌（新）</h1>

        <p class="work-detail-lead">
          PHPとデータベースを使って、WEB上で日直日誌の登録・表示・管理を行う制作物です。
        </p>

        <div class="work-action">
          <a
            href="https://beetle45046.sakura.ne.jp/diary_sys/public/login.php"
            class="work-open-button"
            target="_blank"
            >作品を開く</a
          >
        </div>

        <section class="work-section">
          <h2>制作目的</h2>
          <ol>
            <li>
              ※このシステムの制作した目的は<a href="/works/php_diary_old"
                >旧バージョン</a
              >で説明しています。
            </li>
            <li>
              旧バージョンはPHPとJavaScriptの初心者本とネットから拾った情報を組み込んで作成したのですが、「なぜこういう動作をするんだろう？」と思う部分が多々あったり、コードの意味もわからず組み込まれている部分もあるので、自分の知識だけで再制作したいと考えました。
            </li>
            <li>
              現状の自分がPHPのことをどれだけ理解できているかを知るためにも、ChatGPTに頼らず制作物を作ろうと考えました。
            </li>
          </ol>
        </section>

        <section class="work-section">
          <h2>操作方法</h2>
          <p>※未完成</p>
          <!-- <ol>
            <li>
              最初のログイン画面には１～29（生徒）、０（先生）を選択してください。
            </li>
            <li>
              生徒の日直日誌画面で日誌の登録・編集をし、コンタクトページで室温のアピールと先生への質問を送信します。
            </li>
            <li>
              先生のコンタクトページで室温アピールと質問を受信し、設定ページで各データベースの編集を行います。
            </li>
          </ol> -->
        </section>

        <section class="work-section">
          <h2>工夫した点</h2>
          <p>※未完成</p>
          <!-- <p>
            実際に使えるものを意識しました。
            視覚的に生徒の寒暖情報を伝えるため、文字ではなく色で表現しました。
          </p> -->
        </section>

        <section class="work-section">
          <h2>今後の改善点</h2>
          <p>※未完成</p>
          <!-- <p>
            デザインやレスポンシブ対応を整え、
            より見やすく使いやすい画面に改善していきたいです。
          </p> -->
        </section>
      </section>
      <div class="work-back-area">
        <a href="/works/php" class="work-back-button">← PHP制作物一覧へ戻る</a>
      </div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
