<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      rel="stylesheet"
    />
    <title>制作物</title>
  </head>

  <body class="works-page">
    <div class="ufo-button">
      <div class="ufo-core"></div>
    </div>
    <div class="ufo-menu">
      <a href="/" class="ufo-menu-top">トップ</a>
      <a href="/profile" class="ufo-menu-profile">プロフィール</a>
      <a href="/works" class="ufo-menu-works">制作物</a>
    </div>

    <div class="hero">
      <h1 class="works_main-title">制作物</h1>
    </div>

    <div class="works-grid">
      <a href="/works/python">
        <img
          src="{{ url_for('static', filename='images/python.png') }}"
          alt="Python"
        />
      </a>

      <a href="/works/php">
        <img
          src="{{ url_for('static', filename='images/php.png') }}"
          alt="PHP"
        />
      </a>

      <a href="/works/javascript">
        <img
          src="{{ url_for('static', filename='images/javascript.png') }}"
          alt="JavaScript"
        />
      </a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
